@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model DentistPortal_Client.Pages.HomeModel
@{
    <a asp-page="/DoctorPages/MedicalCases/DisplayMedicalCases">Medical Cases</a>
    <a asp-page="/DoctorPages/MedicalCases/MyMedicalCases">My Cases</a>
    <a asp-page="/DoctorPages/Clinics/DisplayClinics">Clinics</a>
    if (HttpContextAccessor.HttpContext.Session.GetString("role") == "Patient")
    {
        <a asp-page="/PatientProfile">Profile</a>
    }
    else
    {
        <a asp-page="/DentistProfile">Profile</a>
    }
}
@*@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
}*@
