@page
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model DentistPortal_Client.Pages.HomeModel
@{
    <!-- Cards -->
    <div class="box">
        <div class="inner row g-0">
            <a href="#" class="col" style="text-decoration:none;max-height:350px;">
                <figure>
                    <img src="~/Pictures/Doctor.jpg" width="100%" height="100%" alt="Mountains" style="max-height:350px;min-height:350px;">
                    <figcaption>Describe your pain and find a doctor to fix it</figcaption>
                </figure>
            </a>
            <a href="DoctorPages/MedicalCases/DisplayMedicalCases" class="col" style="text-decoration:none;max-height:350px;">
                <figure>
                    <img src="~/Pictures/Patients.jpg" width="100%" height="100%" alt="Mountains" style="max-height:350px;min-height:350px;">
                    <figcaption>Find Patients to work on</figcaption>
                </figure>
            </a>
            <a href="DoctorPages/Tools/DisplayTools" class="col" style="text-decoration:none;max-height:350px;">
                <figure>
                    <img src="~/Pictures/Tools.jpg" width="100%" height="100%" alt="Mountains" style="max-height:350px;min-height:350px;">
                    <figcaption>Check Tools</figcaption>
                </figure>
            </a>
        </div>
    </div>

    <!-- Qoute -->
    <div class="mozaa">
        <p class="quote"><span>Why should you use dentist portal</span><span> ?</span></p>
    </div>

    <header>
        <!-- Paragraphs -->
        <div class="container-home container">
            <div class="image">
                <img class="toto" src="~/Pictures/DentalStudent.jpg">
            </div>
            <div class="text">
                <h2>As a Dental Student</h2>
                <p>
                    We shorten the space between you and your patient,
                    as on our website you can find a case to work on or even add a case to your fellow students,
                    and you can also find and sell dental tools, find trainings, and find job offers.
                    You can also make your own portfolio so others can see your work and achievements.
                </p>
            </div>
        </div>
        <br>
        <div class="contn">
            <div class="image">
                <img class="soso" src="~/Pictures/Patient.jpg">
            </div>
            <div class="text2">
                <h2>As a Patient</h2>
                <p>
                    You can get your teeth fixed by great doctors for free or for a small amount of money by posting a description of what is bothering you and taking a photo of your teeth,
                    and then a doctor will contact you to fix them.
                    Our website can assure you that the doctor is verified and we have all his legal data.
                    You can also look for clinics near you and rate them based on your experience.
                </p>
            </div>
        </div>
        <br>
        <div class="conta">
            <div class="image">
                <img class="nono" src="https://allesleyparkdental.co.uk/wp-content/uploads/2022/09/AP-Dental-Team-Photo.jpg">
            </div>
            <div class="text3">
                <h2>As a Doctor</h2>
                <p>
                    You can sell or buy dental tools,
                    and you can also post job offers and training for dental students,
                    as you can see their portfolios and check their work before contacting them.
                    You can also post your clinic online so patients can see the ratings and details.
                </p>
            </div>
        </div>
    </header>
}
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "success")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'success',
                title: '@Model.Msg',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
    }
}
