@page
@model DentistPortal_Client.Pages.InfoMessageModel
@{
    Layout = "";
    <head>
    <link rel="stylesheet" href="~/css/InfoMessage.css">
    </head>

    <div class="card">

    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <iconify-icon icon="material-symbols:info" class="infoicon"></iconify-icon>
    <br>

      <p>You are not verified yet , Please wait until <span>your verification is done.</span></p>
      <!-- <p class="card-footer">Created by Rahul C.</p> -->
            <button type="button">
                <a href="/Home">Go Home</a>
            </button>
    </div>
}
