@page
@model DentistPortal_Client.Pages.RegisterAsDoctorModel
@{
    Layout = "";


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <title>Register</title>
        <link rel="stylesheet" href="~/css/Register.css">
    </head>

    <body>
        <form method="post" enctype="multipart/form-data">
            <div class="card">
                <div class="form">
                    <h3>Register</h3>
                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        <input asp-for="Dentist.Username" required placeholder="Username">
                    </div>

                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        <input asp-for="Dentist.FirstName" required placeholder="First Name">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        <input asp-for="Dentist.LastName" required placeholder="Last Name">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-lock"></i>
                        <input asp-for="Dentist.PasswordHash" type="password" required placeholder="Enter your password">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        <input asp-for="Dentist.University" required placeholder="University">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        <input asp-for="Dentist.Email" required type="email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <i class="fa fa-envelope"></i>
                        <input asp-for="Dentist.Level" required placeholder="Level" min="0" max="5">
                    </div>

                    <div class="input-field">
                        <label>Profile Picture</label>
                        <input asp-for="Dentist.ProfilePicture" type="file" required>
                    </div>
                    <div class="input-field">
                        <label>University Card Picture</label>
                        <input asp-for="Dentist.UniversityCardPicture" type="file" required>
                    </div>
                    <div class="input-field">
                        <label>Identity Card Picture</label>
                        <input asp-for="Dentist.IdentityCardPicture" type="file" required>
                    </div>
                    <div class="input-field">
                        <label style="position:relative ; top:8px ; left:22px">IS Graduated ?</label>
                        <input style="position:relative ; bottom:8px;" asp-for="Dentist.Graduated" placeholder="Is Graduated" type="checkbox">
                    </div>
                    <br>
                    <button type="submit">Register</button>
                    <p>Already have an account? <a asp-page="/Login">Sign in</a></p>sss
                </div>
                <div class="image">
                    <div class="overlay">
                        <!--  <h3>Every new friend is a<br>new adventure</h3>
                          <p>let's get connected</p> -->
                    </div>
                </div>

            </div>
        </form>
    </body>
}


@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "error")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Msg',
                showConfirmButton: true
            })
        </script>
    }
}