* {
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #76767687;
    --main-transition: 0.3s;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    background-color: white;
}



.section .ToolImge {
    border-bottom: 1px solid #eeeeee;
    position: relative;
}

.main-title:hover {
    color: white;
    border: 2px solid var(--main-color);
    transition-delay: 0.5s;
}

.ToolDescription {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.24;
    height: 34.72px;
    margin-bottom: 8px;
    display: inline-flex;
}


.sett {
    background: none;
    border: 0;
}

.Headline {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    margin-bottom: 50px;
}

.MyTools,
.addtool {
    line-height: 1.9;
    border-radius: 0.25rem;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    background-color: black;
    width: 150px;
    cursor: pointer;
    color: white;
    height: 40px;
    text-decoration: none;

}

.addtool {
    position: absolute;
    right: 10px;
}

    .MyTools:hover,
    .addtool:hover {
        background-color: #8f8f8f;
        border-color: black;
        color: white;
        text-decoration: none;
    }

.mybtn {
    color: #E9EDF8;
    background-color: #657A97;
    border-color: #E9EDF8;
    border-radius: 32px;
    /* margin: auto;
  transform: translateY(100px);
  transition: all 0.5s ease; */
}

    .mybtn:hover {
        color: #657A97;
        /* background-color: #8f8f8f; */
        background-color: #E9EDF8;
        border-color: #657A97;
    }

.line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.formsection {
    margin-bottom: 35px;
    /* animation-name: fadeInUp;
  transition: all 1s;
  animation-delay: 50s;
  animation-duration: 3s; */
    box-shadow: 0 0 10px #C9CFDF;
    background-color: #E9EDF8;
}

    .formsection .paragraph {
        padding: 35px 0px;
    }

        .formsection .paragraph h4 {
            font-size: 36px;
            color: #000000a6;
            position: relative;
            margin-bottom: 20px;
            padding-bottom: 15px;
        }

        .formsection .paragraph p:first-of-type {
            padding: 10px 10px;
            font-size: 15px;
        }

.ourform {
    background-color: white;
    padding: 30px;
    height: 100%;
    border-radius: 14px;
    margin-bottom: 20px;
}

    .ourform input[type="text"] {
        margin: 15px 0;
    }

    .ourform textarea {
        margin: 15px 0;
        resize: none;
    }

    .ourform button {
        margin: 15px 0;
        text-align: center;
        display: block;
        margin: auto;
        
        padding: 10px 30px;
       
        transition: 0.4s;
        
        color: #E9EDF8;
        background-color: #657A97;
        border-color: #E9EDF8;
        border-radius: 32px;
    }

        .ourform button:hover {
            color: #657A97;
            background-color: #E9EDF8;
            border-color: #657A97;
        }

.setting {
    position: absolute;
    top: 8px;
    z-index: 100;
    right: 20px;
}

.dropdown-toggle::after {
    display: none;
}
.ToolName {
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 10px;
    text-align: center;
}

.mybtn {
    display: block;
    margin: 0 auto;
}

.mycard {
    box-shadow: 0 0 10px #dddde3;
    margin: 10px;
}

.mycardbody {
    
    box-shadow: 0 0 10px #C9CFDF;
    background-color: #E9EDF8;
    margin-bottom: 10px;
}

.mycardimg {
}

.details .ToolPrice {
}
