@page
@model DentistPortal_Client.Pages.DoctorPages.AddMedicalCaseModel
@{
    <div style="margin-top:100px">
        <form method="post" class="align-content-center col-6 w-25" style="margin:auto;text-align:center;color:#1A2238;">
            <input value=@Model.Token hidden>
            <div class="form-floating form-outline mb-4">
                <input asp-for="MedicalCase.PatientName" class="form-control">
                <label class="form-label">Patient Name</label>
            </div>
            <div class="form-floating form-outline mb-4">
                <input asp-for="MedicalCase.PatientPhone" class="form-control">
                <label class="form-label">Patient Phone</label>
            </div>
            <div class="form-floating form-outline mb-4">
                <input asp-for="MedicalCase.PatientAge" class="form-control">
                <label class="form-label">Pateint Age</label>
            </div>
            <div class="form-floating form-outline mb-4">
                <textarea asp-for="MedicalCase.Description" class="form-control" rows="5"></textarea>
                <label class="form-label">Description</label>
            </div>
            <button type="submit" class="btn btn-success btn-block mb-3"><i class="bi bi-patch-plus"> ADD</i></button>
        </form>
    </div>
}
@if (@Model.Msg != null)
{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    if (@Model.Status == "error")
    {
        <script type="text/javascript">
            Swal.fire({
                icon: 'error',
                title: '@Model.Msg',
                showConfirmButton: true
            })
        </script>
    }
}