@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <title>DentalHub</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Home.css">

    <!--footer head-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Footer - Sagar Developer</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DentistPortal_Client.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Theme.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/StyleSheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/Home.css">
    @await RenderSectionAsync("styles",false)
</head>
<body>
    <nav style="display:flex; align-items:center;">
        <div class="logo"><a href="/Home"><img src="~/Images/logo-white.png" width="200" height="90px" /></a></div>
        <ul style="display:flex; justify-content:flex-end; margin-bottom:0;">
            @if (HttpContextAccessor.HttpContext.Session.GetString("Token") == null)
            {
                <li><a class="active" href="/DoctorPages/Clinics/DisplayClinics">Clinics</a></li>
                <li><a href="/DoctorPages/MedicalCases/DisplayMedicalCases">Medical Cases</a></li>
                <li><a href="/DoctorPages/Tools/DisplayTools">Tools</a></li>
                <li><a href="/DoctorPages/Jobs/DisplayJobs">Jobs</a></li>
                <li><a href="/Login">Login</a></li>
            }
            else if (HttpContextAccessor.HttpContext.Session.GetString("role") == "Dentist")
            {
                <li><a class="active" href="/DoctorPages/Clinics/DisplayClinics">Clinics</a></li>
                <li><a href="/DoctorPages/MedicalCases/DisplayMedicalCases">Medical Cases</a></li>
                <li><a href="/DoctorPages/Tools/DisplayTools">Tools</a></li>
                <li><a href="/DoctorPages/Jobs/DisplayJobs">Jobs</a></li>
                <div class="dropdown">
                    <a class="nav-profile-picture dropdown-toggle btn-danger" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"><img class="nav-profile-picture" src="@HttpContextAccessor.HttpContext.Session.GetString("profilePicture")" /></a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/ViewProfile"><i class="bi bi-person-circle" style="font-style:normal"> Profile</i></a></li>
                        <li><a class="dropdown-item" href="/Home?clear=yes"><i class="bi bi-box-arrow-in-right" style="font-style:normal"> Log Out</i></a></li>
                    </ul>
                </div>
            }
            else if (HttpContextAccessor.HttpContext.Session.GetString("role") == "Admin")
            {
                <li><a class="active" href="/Home?clear=yes">Log Out</a></li>
            }
            else
            {
                <li><a class="active" href="/DoctorPages/Clinics/DisplayClinics">Clinics</a></li>
                <li><a href="/PatientPages/MyCases_Patient">Find me a doctor</a></li>
                <div class="dropdown">
                    <a class="nav-profile-picture dropdown-toggle btn-danger" role="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="display:flex; align-items:center;"><img class="nav-profile-picture" src="@HttpContextAccessor.HttpContext.Session.GetString("profilePicture")" /></a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="/ViewPatientProfile"><i class="bi bi-person-circle" style="font-style:normal"> Profile</i></a></li>
                        <li><a class="dropdown-item" href="/Home?clear=yes"><i class="bi bi-box-arrow-in-right" style="font-style:normal"> Log Out</i></a></li>
                    </ul>
                </div>
            }
        </ul>
    </nav>

    <div style="overflow-x:hidden;height:100%">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--footer-->
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Dental<span>Hub</span></h3>

            <p class="footer-links">
                <a href="/Home">Home</a>
                |
                <a href="#">About</a>
                |
                <a href="#">Contact</a>
                |
                <a href="#">Blog</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>DentalHub</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p>
                    <span>Helwan</span> University
                </p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+20 1006465085</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p>dentalhubgp@gmail.com</p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About our website </span>
                <strong>DentalHub</strong> is a website that provides a platform for dental students, dentists, and patients.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-youtube"></i></a>
            </div>
        </div>
    </footer>
    <!--end of footer-->

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/MyJs.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>